body {
	background: #eeeeee;
}

.text-normal {
    font-weight: 400;
}
.btn {
	background: #AA1111;
    color: #fff;
    border: 0;
    border-radius: 1px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
}
.form-control {
    border-radius: 1px;
}
.btn:hover {
	background: #AA1111;
    color: #fff;
}
.zeroVal {
    background: #f76262 !important;
}
.panel {
    position: relative;
    padding-top: 10px;
    border-radius: 1px;
    overflow: hidden;
    border: 0;
    color: #f9f9f9;
    background: #383838;
}
.panel_close {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background: #dc0000;
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
}
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, .4);
}

.modal_wrap {
    position: fixed;
    padding-top: 20px; 
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    background: #fff;
    height: calc(70vh + 80px);
    
}
.modal_wrap .modal_body {
    height: 70vh;
    overflow-y: scroll;
}

.modal_btns {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.right_menu {
    list-style: none;
    margin: 0;
}
.right_menu > li > a {
    color: #fff;
    padding: 5px 10px;
}

.right_menu > li > a:hover {
    text-decoration: none;
    background: #333;
}


.right_menu li.has_submenu {
    position: relative;
}
.right_menu ul.submenu {
    position: absolute;
    display: none;
    list-style: none;
    background: #fff;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: -23px;
}
.right_menu > li:hover ul.submenu {
    display: block;
}
.right_menu ul.submenu li a {
    color: #000;
    padding: 0 20px;
}
.right_menu ul.submenu li a:hover {
    background: #eeeeee;
    text-decoration: none;
}

.section_title_wrap {
	margin-bottom: 30px;
}
.section_title {
	display: inline-block;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;
}
.section_title:after {
	position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #AA1111;
}
.app_header {
	padding: 20px 0;
    background: #000000;
    color: #fff;
}
.logo_text {
	font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    background: #AA1111;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 400;
}
.app_header h1 {

}

.display_map_section {
	padding: 30px 0;
}
.main_control {
    position: relative;
    color: #f9f9f9;
    background: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.display_map_wrap {
    padding: 0;
}
#display_map {
	
}
.right_control {
    height: 400px;
}
.right_control_tools {
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
}
.capacity_input {
	
}

.origin_location, .all_locations .panel {

}


.all_locations .location_address {
	cursor: pointer;
}

.all_locations {}
.all_locations  .panel {

}

.optimized_routes_addresses {}
.optimized_routes .panel .btn {
    margin-top: 15px;
}
.optimized_routes_addresses .optimized_routes_address, .address_label {
    background: #4c4c4c;
    color: #fff;
    display: inline-block;
    margin: 0 0 11px;
    padding: 0px 5px;
    border-radius: 4px;
}
.optimized_routes_addresses .optimized_routes_address:last-child {
    margin: 0;
}

.interdistances_wrap {}
.interdistances_wrap .panel {
    height: 180px;
}